.profile{
    &__info{
margin-top: 45px;
    display: flex;
    justify-content: center;
    }
        
&__descr{
        text-align: initial;
            width: 500px;
            margin: 0 auto;
}
        }