.header {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  background: #99a98f;
  border-bottom: 1px solid #d6e8db;
  box-shadow: -6px 0px 11px 2px #626d5d;
  align-items: center;
  &__avatar {
    width: 60px;
    margin-right: 10px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    margin-top: 4px;

    // background-image: src(var(--user-avatar));
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__username,
  &__users-link,
  &__logout-btn {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #d6e8db;
    border-radius: 3px;
    font-size: 18px;
  }
}
